<!DOCTYPE html>
<html>
<head>
    <title>Квиз Баттл</title>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="card">
          <h2>Я игрок</h2>
          <input id="player_name" placeholder="Введи имя">
          <input id="pin" placeholder="Введи PIN">
          <button id="enter_game" onclick="enter_game()">Присоединиться</button>
          <!-- сюда твои input'ы для имени и PIN -->
        </div>
      
        <div class="card">
          <h2>Я ведущий</h2>
          <input id="host_theme" placeholder="Введите тему">
          <input id="host_num_questions" placeholder="Введите количество вопросов">
          <button id="start_game">Создать игру</button>
          <!-- сюда input для темы и select для количества вопросов -->
        </div>
      </div>
      
    <script src="/static/js/script.js"></script>
</body>
</html>